[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.3"
ipython = "*"
pyping = "*"
traceroute = "*"
django-extensions = "*"
django-crispy-forms = "*"
mysqlclient = "*"
django-mysql = "*"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
